<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OutTaiwan - 打包清單</title>
  <script type="module" crossorigin src="/Per_OutTaiwan/assets/takelist-CGktG3Zp.js"></script>
  <link rel="modulepreload" crossorigin href="/Per_OutTaiwan/assets/vendor-Bsgzf06I.js">
  <link rel="modulepreload" crossorigin href="/Per_OutTaiwan/assets/vue-vendor-CPMyeukm.js">
  <link rel="modulepreload" crossorigin href="/Per_OutTaiwan/assets/three-DQbwDAWq.js">
  <link rel="modulepreload" crossorigin href="/Per_OutTaiwan/assets/index-BHD_QJgL.js">
  <link rel="stylesheet" crossorigin href="/Per_OutTaiwan/assets/index-BdwMM_Ot.css">
  <link rel="stylesheet" crossorigin href="/Per_OutTaiwan/assets/takelist-BK1Nl6qy.css">
</head>
<body>
    <div id="app"></div>

</body>
</html>
