<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>幸運轉盤 - Elon Tools</title>
  <script type="module" crossorigin src="/Per_OutTaiwan/assets/turntable-C0igJg6D.js"></script>
  <link rel="modulepreload" crossorigin href="/Per_OutTaiwan/assets/index-DqPwIN4q.js">
  <link rel="stylesheet" crossorigin href="/Per_OutTaiwan/assets/index-Oreo8nlN.css">
  <link rel="stylesheet" crossorigin href="/Per_OutTaiwan/assets/turntable-BV3W_oee.css">
</head>
<body class="bg-slate-50 dark:bg-slate-900 transition-colors duration-300">
    <div id="app"></div>
</body>
</html>
